<div class="catalog">
  <div class="item" title="Мягкая мебель">
    <a href="/soft-furniture">
      <img src="assets/images/1.jpg">
      Мягкая мебель
    </a>
  </div>
  <div class="item" title="Корпусная мебель">
    <a href="#">
      <img src="assets/images/2.jpg">
      Корпусная мебель
    </a>
  </div>
  <div class="item" title="Мебель для детской">
    <a href="#">
      <img src="assets/images/3.jpg">
      Мебель для детской
    </a>
  </div>
  <div class="item" title="Мебель для кухни">
    <a href="#">
      <img src="assets/images/4.jpg">
      Мебель для кухни
    </a>
  </div>
  <div class="item" title="Мебель для спальни">
    <a href="#">
      <img src="assets/images/5.jpg">
      Мебель для спальни
    </a>
  </div>
  <div class="item" title="Офисная мебель">
    <a href="#">
      <img src="assets/images/6.jpg">
      Офисная мебель
    </a>
  </div>
</div>
