<footer class="footer">
  <div class="footer-contacts">
    <span>Контакты</span>
    <ul class="list-group">
      <li><a href="#">
        <i class="fa fa-link" aria-hidden="true"></i>
        Facebook
      </a></li>
      <li><a href="#">
        <i class="fa fa-link" aria-hidden="true"></i>
        Instagram
      </a></li>
      <li><a href="#">
        <i class="fa fa-link" aria-hidden="true"></i>
        Instagram
      </a></li>
      <li><a href="#">
        <i class="fa fa-phone" aria-hidden="true"></i>
        +38 (095) 888-888-88
      </a></li>
      <li><a href="#">
        <i class="fa fa-phone" aria-hidden="true"></i>
        +38 (067) 777-777-77
      </a></li>
    </ul>
  </div>
  <div class="footer-products">
    <span>Меню</span>
    <ul class="list-group">
      <li><a href="/soft-furniture">
        <i class="fa fa-link" aria-hidden="true"></i>
        Мягкая мебель
      </a></li>
      <li><a href="#">
        <i class="fa fa-link" aria-hidden="true"></i>
        Корпусная мебель
      </a></li>
      <li><a href="#">
        <i class="fa fa-link" aria-hidden="true"></i>
        Мебель для детской
      </a></li>
      <li><a href="#">
        <i class="fa fa-link" aria-hidden="true"></i>
        Офисная мебель
      </a></li>
      <li><a href="#">
        <i class="fa fa-link" aria-hidden="true"></i>
        Мебель для спальн
      </a></li>
    </ul>
  </div>
  <div class="footer-help">
    <span>Разделы</span>
    <ul class="list-group">
      <li><a href="#">
        <i class="fa fa-link" aria-hidden="true"></i>
        Контакты
      </a></li>
      <li><a href="#">
        <i class="fa fa-link" aria-hidden="true"></i>
        О нас
      </a></li>
      <li><a href="#">
        <i class="fa fa-link" aria-hidden="true"></i>
        Полезно знать
      </a></li>
      <li><a href="#">
        <i class="fa fa-link" aria-hidden="true"></i>
        Магазины
      </a></li>
    </ul>
  </div>
</footer>