<header class="header clearfix">
  <a href="/">
    <img class="logo clearfix" title="TeamDev" src="assets/images/logo3.png">
  </a>
  <div class="search-block">
    <div class="phones">
      <ul>
        <li>+38 (095) 888-888-88</li>
        <li>|</li>
        <li>+38 (067) 777-777-77</li>
      </ul>
      <span>Звоните нам ежедневно с 10:00 до 21:00 или напишите нам</span>
    </div>
    <div class="search input-group">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Поиск"
               aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-btn">
          <button class="btn btn-outline-secondary" type="button">Поиск</button>
        </div>
      </div>
    </div>
  </div>
  <img class="callback clearfix" src="assets/images/order_a_call_btn.png">
  <div class="options-menu">
    <ul>
      <li class="" title="Товары">
        <a href="#">Товары</a>
      </li>
      <li class="" title="Оплата">
        <a href="#">Оплата</a>
      </li>
      <li class="" title="Доставка">
        <a href="#">Доставка</a>
      </li>
      <li class=" basket" title="Корзина">
        <a href="#">Корзина</a>
      </li>
      <li class="" title="Вход">
        <a href="#">Вход</a>
      </li>
    </ul>
  </div>
</header>
{{yield}}